# Python virtual environment
pywlc_venv/

# Python bytecode
__pycache__/
*.py[cod]

# VSCode settings (optional)
.vscode/

# secret.txt
# temp/
cha_pyw_crfold.py
cha_pyw_crjson.py
cha_pyw_dwnch.py
chapids.py
chapitds_pywlc.py
pywlc.py
lean_canvas.py